

<h1>How to use a framecurve file in your application</h1>

<p>Framecurve is supported in many applications through scripts and workflows that we provide. We took care to implement sane tools
    for as many packages as we could. We hope that throughout the development of the standard vendors will also adopt
    Framecurve as a standard and will provide out-of-the-box solutions for theur products.</p>
    
<h2>Current feature matrix</h2>

<table class="featurematrix">
    <tr><th>Application</th>                <th>Export from the application</th>        <th>Import into the application</th><tr>
    <tr>
        <td>Final Cut Pro 7.+ (not FCPX)</td>
        <td>Yes, via XML and the <a href="http://gemcutter.org/gems/framecurve">framecurve ruby gem</a></td>
        <td>-</td>
    </tr>

    <tr>
        <td>Autodesk Flame, Smoke, Backdraft and Flare</td>
        <td>Yes, via the <a href="http://gemcutter.org/gems/flame_channel_parser">flame_channel_parser ruby gem</a></td>
        <td>Yes, via the <a href="http://gemcutter.org/gems/flame_channel_parser">flame_channel_parser ruby gem</a></td>
    </tr>

    <tr>
        <td>The Foundry Nuke</td>
        <td>Yes, via the <a href="/scripts/nuke">framecurve nuke module</a></td>
        <td>Yes, via the <a href="/scripts/nuke">framecurve nuke module</a></td>
    </tr>

    <tr>
        <td>Sidefx Houdini</td>
        <td>-</a></td>
        <td>Yes, via the <a href="/scripts/houdini">provided Houdini OTL</a></td>
    </tr>

    <tr>
        <td>Autodesk Maya</td>
        <td>-</a></td>
        <td>Yes, via the provided <a href="/scripts/maya">MEL script</td>
    </tr>

    <tr>
        <td>Adobe AfterEffects</td>
        <td>Yes, via the provided <a href="/scripts/aftereffects">.jsx scripts</td>
        <td>Yes, via the provided <a href="/scripts/aftereffects">.jsx scripts</td>
    </tr>
</table>

<p>We hope to be able to expand the number of supporting applications in the future. If you implement framecurve support for a specific
    application, please contact us so that we can include it into the offered packages here.</p>

<h2>API and libraries</h2>

<p>For the benefit of R&amp;D professionals who would like to implement Framecurve in their workflows, we provide the following libraries:</p>

<table class="featurematrix">
    <tr><th>Language</th><th>Functions</th><th>Where to get it</th><tr>
    <tr>
        <td>Ruby</td>
        <td>Parsing, validation, serialization, XML file extraction</td>
        <td><a href="http://github.com/guerilla-di/framecurve">framecurve</a> gem on Github, or <tt>gem install framecurve</tt></td>
    </tr>

    <tr>
        <td>Python</td>
        <td>Parsing, validation, serialization</td>
        <td><a href="http://github.com/guerilla-di/framecurve_python">framecurve_python</a> on Github</td>
    </tr>
</table>

<h2>Licensing of the Framecurve format and software</h2>

<p>All of the scripts, specifications, images and text related to the framecurve implementation (all further named <b>Software</b> are subject to the MIT license.</p>

<h2 id="license">License</h2>

<p>Copyright (c) 2012 Julik Tarkhanov, Sebastian van Hesteren, Koen Hofmeester, Ben Dickson et al.</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>