<h1>Framecurve AfterEffects scripts</h1>

<p>First of all, you will need our .jsx scripts for AE.<p>
<ul>
    <li><a href="/scripts/aftereffects/Apply Framecurve As Kronos.jsx">Download the "Apply Framecurve As Kronos" script</a></li>
    <li><a href="/scripts/aftereffects/Export Selected Property As Framecurve.jsx">Download the "Export Selected Property As Framecurve" script</a></li>
</ul>
<p>Install these scripts like any others.</p>

<h2>Applying timewarps to layers</h2>
<p>To apply a timewarp, select a layer in a comp.</p>
<img src="/pics/AE-countdown.png" width="820" alt="Start" />

<p>From the "Scripts" menu, pick "Apply Framecurve As Kronos"</p>
<img src="/pics/AE-apply-as-kronos.png" width="820" alt="AE Apply As Kronos" />

<p>...and pick the Framecurve file you want to apply to the layer.</p>
<p>A Timewarp effect will be created automatically with the contents of the framecurve, thus retiming your layer to it.</p>

<img src="/pics/AE-applied.png" width="820" alt="AE Applied" />

<h2>Exporting framecurves from AfterEffects</h2>
    
<p>First, select an animated property you want to export (like a "Source frame" channel of a Timewarp effect).</p>

<img src="/pics/AE-select-channel.png" width="820" alt="AE Select Channel" />
<p>Once done, select "Export Selected Property As Framecurve". This will pop up a dialog for you to choose the filename for the framecurve file and
    tell you which channel is going to be exported.</p>
<img src="/pics/AE-confirmation.png" width="500" height="233" alt="AE Confirmation" />

<p><strong>Make sure to give the file a ".framecurve.txt" double extension!</strong></p>

<p>When the file is selected the channel will be exported to the Framecurve file.</p>

