<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
 <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>Framecurve</title> 
    
    <link rel="stylesheet" href="styles.css" />
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://people.iola.dk/olau/flot/excanvas.min.js"></script><![endif]--> 
    <script language="javascript" type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.js"></script> 
    <script language="javascript" type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script> 
 </head> 
    <body class="def">
    <div id="cnt">
    <p id='nav'> 
		<span><a href='/'>home</a></span> 
		<span><a href='/specification-v1'>specification</a></span> 
		<span><a href='/scripts'>scripts</a></span> 
    </p>

<%= yield %>

<div id="initiative">
	<h2>Framecurve is a shared initiative of</h2>
	<span><a href="http://hecticelectric.nl">HecticElectric</a></span>
	<span><a href="http://guerilla-di.org">Guerilla-DI</a></span>
	<span><a href="http://carbonmedia.nl">CarbonMedia</a></span>
	<span><a href="http://mediamonks.nl">MediaMonks</a></span>
</div>

</div></body> 
</html>