

<h1>How to use a framecurve file in your application</h1>

<p>Framecurve is supported in many applications through scripts and workflows that we provide. We took care to implement sane tools
    for as many packages as we could. We hope that throughout the development of the standard vendors will also adopt
    Framecurve as a standard and will provide out-of-the-box solutions for theur products.</p>
    
<h2>Current feature matrix</h2>

<table class="featurematrix">
    <tr><th>Application</th>                <th>Export from the application</th>        <th>Import into the application</th><tr>
    <tr>
        <td>Final Cut Pro 7.+ (not FCPX)</td>
        <td>Yes, via XML and the <a href="http://gemcutter.org/gems/framecurve">framecurve ruby gem</a></td>
        <td>-</td>
    </tr>

    <tr>
        <td>Autodesk Flame, Smoke, Backdraft and Flare</td>
        <td>Yes, via the <a href="http://gemcutter.org/gems/flame_channel_parser">flame_channel_parser ruby gem</a></td>
        <td>Yes, via the <a href="http://gemcutter.org/gems/flame_channel_parser">flame_channel_parser ruby gem</a></td>
    </tr>

    <tr>
        <td>The Foundry Nuke</td>
        <td>Yes, via the built-in "export value + ASCII" function</td>
        <td>Yes, via the <a href="/scripts/nuke/applyFramecurve.py">framecurve python script</a></td>
    </tr>

    <tr>
        <td>Sidefx Houdini</td>
        <td>Yes, via the provided Houdini OTL</td>
        <td>-</a></td>
    </tr>

    <tr>
        <td>Autodesk Maya</td>
        <td>Yes, via the provided <a href="/scripts/maya/framecurveApplyTimewarp.mel">MEL script</td>
        <td>-</a></td>
    </tr>

</table>

<p>We hope to be able to expand the number of supporting applications in the future. If you implement framecurve support for a specific
    application, please contact us so that we can include it into the offered packages here.</p>