<h1>Framecurve Nuke module</h1>

<p>First of all, you will need our python script. <a href="/scripts/nuke/applyFramecurve.py">Download the .py</a></p>
<p>Select a node in Nuke, execute the script function (<tt>apply_framecurve_from_file()</tt>). A dialog will pop
out prompting you to select your framecurve file.</p>

<img src="/pics/nuke_fc_selectfile.png" width="892" height="465" alt="Nuke Fc Selectfile" />

<p>After the file is chosen the module will create a knob called <tt>framecurve</tt> in your node, and populate it with
keyframes from the framecurve file.</p>

<img src="/pics/nuke_fc_knob.png" width="492" height="332" alt="Nuke Framecurve Knob" />

<p>It will then walk all of your knobs in the node, and for each animated knob it will apply a timewarp expression which looks like this:</p>

<img src="/pics/nuke_fc_expressions.png" width="549" height="259" alt="Nuke Fc Expressions" />

<p>...and every animation in your node will become Framecurve-enabled.</p>

<p>You can also copy-paste the framecurve animation into another node as desired.</p>