<h1>Framecurve Maya MEL script</h1>

<p>First of all, you will need our MEL file that you will need to source. <a href="/scripts/maya/framecurveApplyTimewarp.mel">Download the .mel</a></p>

<p>Select an object in Maya, execute the script function (<tt>framecurve.timewarpDialog();</tt>). A dialog will pop
out prompting you to select your framecurve file. Select a file and then hit the <tt>Get!</tt> button to select the object you are going to timewarp.</p>

<img src="/pics/fc_maya_pick.png" width="441" height="213" alt="Fc Maya Pick">

<p>Activate the dialog, and your Hypergraph hierarchy will transform from this:</p>
<img src="/pics/fc_maya_hyper.png" width="981" height="729" alt="Fc Maya Hyper">
<p>to this:</p>
<img src="/pics/fc_maya_modified_hyper.png" width="941" height="689" alt="Fc Maya Modified Hyper">

<p>The main curve that now feeds the other curves will contain the Framecurve animation.</p>