
<h1>Framecurve specification</h1>

<p><b>Note:</b> the keywords <b>must, shall and may</b> are to be interpreted according to their definitions in the <a href="http://tools.ietf.org/html/rfc2119">RFC2119</a></p>

<h2>Abstract</h2>

<p>This specification defines a file format called <i>framecurve</i> that facilitates exchange of speedramp and timewarp information between client applications.</p>

<h2>Specification</h2>

<p>A framecurve file is a file with ASCII text data and it <b>must</b> have a double extension of <tt>.framecurve.txt</tt></p>

<p>Inside the framecurve file there is a number of <tt>records</tt>, each line is a record. Records <b>must</b> be delimited by either the <tt>CRLF</tt>
line delimiters or the <tt>LF</tt> line delimiters. An application reading the framecurve <b>must</b> support both line delimiter formats.</p>

<p>An application reading the framecurve <b>must</b> be able to read the last record in the file even if it's not terminated with <tt>CRLF</tt> or <tt>LF</tt>
delimiters.</p>

<p>Each record might only contain valid UTF-8 codepoint sequences or ASCII as it's subset.</p> 

<p>Each record can be either a <b>frame correlation record</b> or a <b>comment.</b></p>

<p>A comment is a line starting with a hashmark (<tt>#</tt>), and only containing <tt>CRLF</tt> or <tt>LF</tt> at the end of the line</p>

<code>
   #[arbitrary UTF-8 codepoints except CR and LF][CRLF|LF]
</code>

<p>An application reading the file <b>must not</b> consider UTF-8 characters in comments an error.</p>

<code><pre>
# This is a comment
# This is another comment with русские буквы in it
</pre></code>

<p>A <b>frame correlation record</b> represents a correlation point in time expressed by two fields separated by a TAB character, having the format of</p>

<code>
   [destination_frame_integer][TAB][source_frame_float][CRLF|LF]
</code>

<p>The destination frame <b>must</b> be an integer value specifying the destination frame in the edit. The source frame <b>must</b> be an arbitrary precision
decimal floating point value representing the frame that will be shown at this frame.</p>

<p>The destination frame values <b>must</b> be consecutive (the destination frame number has to increase from record to record). This is not valid:</p>

<code><pre>
# http://framecurve.org/specification-v1
# at_frame use_frame_of_source
# This is not valid
12	34.520
8	20.501
42	20.5
</pre></code>

<p>Destination frame values <b>must</b> be unique.</p>

<code><pre>
# http://framecurve.org/specification-v1
# at_frame use_frame_of_source
# This is not valid
12	34.1600982
12	20.5
42	20.5
</pre></code>

<p>The first line of a framecurve file <b>should</b> include a comment line noting that this is a framecurve file, and it's <b>recommended</b> to
include the interpretation of the record columns as well. This is a recommended header.</p>

<code><pre>
# http://framecurve.org/specification-v1
# at_frame  use_frame_of_source
12	34.5
14	20.5
</pre></code>

<p>When there is a gap in values the importing software <b>must</b> apply linear interpolation between the values. Therefore, the following snippet</p>

<code><pre>
12	34.5
14	20.5
</pre></code>

<p>has to apply the file in such a way that the frame 13 gets an interpolated value in-between the specified ones (in this case <b>27.5</b>).

<p>When applying the animation the importing software <b>must</b> apply <b>constant</b> extrapolation outside of the defined framecurve range (all
the destination frames before the first record get the value of the first record, all the frames after the last record get the value of the last record).</p>

<h2>Record interpretation</h2>

<p>The software exporting a framecurve file <b>must</b> ensure the sensible interpretation of the <b>source frame parameter</b>. For example, the software
exporting a framecurve file that references a sequence starting on frame 678 <b>should</b> use frame 678 to compute the offsets in the source material. This
applies to image sequences. For the cases where the source is undefined the importing software <b>should</b> interpret frame 1 as the first frame of the source
sequence.</p>

<p>For the destination frame parameter the importing and exporting software <b>must</b> observe frame 1 as the first defined frame of the sequence as the first record
of the file. The exporting software <b>must not</b> export destination frames below 1 neither <b>must it not</b> export source frame values below 0.</p>

<code><pre>
# This is invalid
-1	0.0
2	4.5
</pre></code>

<p>The importing software <b>may</b> add offsets to the source or destination frame parameters as required by the pipeline.</p>

<p>For example, if you have a sequence of images starting with <tt>E09857574.0045.dpx</tt> and a framecurve refers to this sequence it's sensible to assume
that the first available frame <b>is frame 45</b>, and not frame 1.</p>
