<h1>Framecurve Houdini module</h1>

<p>First of all, you will need our OTL module. <a href="/scripts/houdini/framecurve.otl">Download the OTL</a></p>
<p>Load the asset into Houdini, and create the node.</p>

<img src="../../pics/fc_hou01.png" width="800" alt="Houdini node" />

<p>Load the framecurve file into the node and hit "WARP!". To temporarily disable the animation, disable the "Warp on" checkbox.</p>
<p>The node contains the following chopnet.</p>

<img src="../../pics/fc_hou03.png" width="800" alt="Houdini chopnet" />