/* line 1, ../sass/styles.scss */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: #f0f0f0;
}
/* line 5, ../sass/styles.scss */
body #cnt {
  background: #fafafa;
  border: 1px solid #c8c8c8;
  margin: auto;
  padding: 1em 3em;
  width: 70%;
  font-size: 1em;
  line-height: 1.4em;
}

/* line 18, ../sass/styles.scss */
code {
  font-size: 0.9em;
  padding: 1em;
  background: #0a0a0a;
  color: white;
  display: block;
}

/* line 25, ../sass/styles.scss */
code pre {
  display: block;
  padding: 0;
  margin: 0;
  background: inherit;
}

/* line 31, ../sass/styles.scss */
#nav {
  width: 100%;
  overflow: auto;
  margin-bottom: 2em;
}

/* line 37, ../sass/styles.scss */
#nav span {
  display: block;
  float: left;
  width: 33%;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 45, ../sass/styles.scss */
#nav span a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lucida Grande", Verdana;
  border: 1px solid #c8c8c8;
  border-bottom-width: 5px;
  padding: .75em 0;
  display: block;
}

/* line 55, ../sass/styles.scss */
#initiative {
  background: #0a0a0a;
  overflow: auto;
  color: white;
  /* Span in the initiative for one company */
}
/* line 60, ../sass/styles.scss */
#initiative span {
  display: block;
  width: 24.9%;
  margin-left: -1px;
  float: left;
  text-align: center;
  /* Links */
}
/* line 67, ../sass/styles.scss */
#initiative span a {
  color: inherit;
}
